#window {
background-color: rgba(204, 36, 29, 0);
}
#input {
border: 1px solid #282828;
background-color: #a89984;
}

#inner-box {
border: 1px solid #282828;
background-color: #a89984;
}

#outer-box {
margin: 5px;
background-color: ;
}

#scroll {
margin: 5px;
background-color: rgba(204, 36, 29, 0);
}
